<%- model_class = User -%>
<div class="page-header">
  <h1><%= t(".edit_account") %></h1>
</div>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {method: :put}) do |f| %>
<%= devise_error_messages! %>
<fieldset>
  <legend><%= t(".settings") %></legend>
  <div class="row">
    <div class="small-8">
      <div class="row">
        <div class="small-3 columns">
          <%= f.label :email, :class => "right inline" %>
        </div>
        <div class="small-9 columns">
          <%= f.email_field :email, autofocus: true %>
          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          Currently waiting confirmation for: <%= resource.unconfirmed_email %>
          <% end %>
        </div>
      </div> 
      <div class="row">
        <div class="small-3 columns">
          <%= f.label model_class.human_attribute_name(:prename), :class => "right inline" %>
        </div>
        <div class="small-9 columns">
          <%= f.text_field :prename %>
        </div> 
      </div> 
      <div class="row">
        <div class="small-3 columns">
          <%= f.label model_class.human_attribute_name(:surname), :class => "right inline" %>
        </div>
        <div class="small-9 columns">
          <%= f.text_field :surname %>
        </div> 
      </div> 
      <div class="row">
        <div class="small-3 columns">
          <%= f.label model_class.human_attribute_name(:weekly_workinghours), :class => "right inline" %>
        </div>
        <div class="small-9 columns">
          <%= f.text_field :weekly_workinghours %>
        </div> 
      </div> 
      <div class="row">
        <div class="small-2 small-offset-9 columns">
          <%= f.submit t(".update", default: t("helpers.links.update")), class: "button button-primary" %>
        </div>
      </div> 
    </div> 
  </div>
</fieldset>
<% end %>


<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {method: :put}) do |f| %>
<fieldset>
  <legend><%= model_class.human_attribute_name(:password) %></legend>
  <div class="row">
    <div class="small-8">
      <div class="row">
        <div class="small-3 columns">
          <%= f.label model_class.human_attribute_name(:password), :class => "right inline" %>
        </div>
        <div class="small-9 columns">
          <%= f.password_field :password, autocomplete: "off" %>
        </div>
      </div>
      <div class="row">
        <div class="small-3 columns">
          <%= f.label model_class.human_attribute_name(:password_confirmation), :class => "right inline" %>
        </div>
        <div class="small-9 columns">
          <%= f.password_field :password_confirmation %>
        </div> 
      </div>
      <div class="row">
        <div class="small-3 columns">
          <%= f.label model_class.human_attribute_name(:current_password), :class => "right inline" %>
        </div>
        <div class="small-9 columns">
          <%= f.password_field :current_password %>
        </div>
      </div>
      <div class="row">
        <div class="small-2 small-offset-9 columns">
          <%= f.submit t("helpers.links.update_resource", resource: model_class.human_attribute_name(:password)), class: "button button-primary" %>
        </div>
      </div>
    </div>
  </div>
</fieldset>
<% end %>
