<%= form_for @invoice, remote: true, html: {class: 'form-horizontal'} do |f| %>

<div class="span10">
  
    <div class="control-group">
      <%= f.label :client_id, class: 'control-label' %>
      <div class="controls">
      <%= f.collection_select :client_id, @clients, :id, :name,
        {include_blank: true},
        { data: {
          dynamic_selectable_url: dynamic_select_trackings_path(':client_id'),
          dynamic_selectable_target: '#invoice_tracking_ids'
        }
      } %>
      </div> 
    </div> 

    <div class="control-group">
      <%= f.label :tracking_id, class: 'control-label' %>
      <div class="controls span2">
      <%= f.collection_select :tracking_ids, @invoice.client.try(:trackings) || [], :id, :description, {}, {:multiple => :true, :class => 'input-block-level', :rows => 15 }  %>
      </div>
    </div> 
    </div> 

  <div class="form-actions">
    <%= f.submit class: 'btn btn-primary' %>
    <% if params[:controller] != "home" %>
    <%= link_to t('.back_to_overview', default: t("helpers.links.back")),
    invoices_path, class: 'btn' %>
    <% end %>
  </div>

<% end %>