<%- model_class = Invoice -%>
<div class="page-header">
  <h1 class="header"><%= t '.title', default: t("helpers.titles.index", class: t('invoices.invoices') ) %></h1>
  <%= link_to t('.new', default: t("helpers.links.new")),
            new_invoice_path,
            class: 'button button-primary button-header' %>
</div>
<div class="span11">
<table class="table table-striped">
  <thead>
  <tr>
    <th><%= model_class.human_attribute_name(:created_at) %></th>
    <th><%= model_class.human_attribute_name(:client) %></th>
    <th><%= model_class.human_attribute_name(:projects) %></th>
    <th><%= model_class.human_attribute_name(:trackings) %></th>
    <th><%= model_class.human_attribute_name(:range) %></th>
    <th><%= model_class.human_attribute_name(:sum) %></th>
    <th><%= t '.actions', default: t("helpers.actions") %></th>
  </tr>
  </thead>
  <tbody>
  <% @invoices.each do |invoice| %>
      <tr>
        <td><%= l(invoice.created_at, format: :datetime ) %></td>
        <td><%= invoice.client.name %></td>
        <td><%= invoice.projects %></td>
        <td><span class="badge"><%= invoice.trackings.count %></span></td>
        <td>
          <% if tracking = invoice.trackings.order("start_time ASC").first %>
            <%= l(tracking.start_time, :format => :month_year) %>
          <% end %>
          -
          <% if tracking = invoice.trackings.order("start_time DESC").first %>
            <%= l(tracking.start_time, :format => :month_year) %>
          <% end %>
        </td>
        <td><%= number_to_currency(invoice.trackings.collect {|t| (t.project.hourly_rate.to_f / 60 ) * t.minutes }.sum) %></td>
        <td>
          <div class="button-group">
          <% if allow?("invoices","show",invoice) %>
            <%= link_to t('action.show'), invoice_path(invoice), class: 'button button-mini' %>
          <% end %>
          <% if allow?("invoices","edit",invoice) %>
            <%= link_to t('action.edit'), edit_invoice_path(invoice), class: 'button button-mini button-warning' %>
          <% end %>
          </div>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
</div>
