<dl class="dl-horizontal">
  <dt><%= t 'users.user' %></dt>
  <dd><%= @user.prename || @user.email %></dd>
</dl>
<%= form_for @user, html: {class: 'form-horizontal'} do |f| %>
  <div class="control-group">
    <%= f.label t("roles.roles"), class: 'control-label' %>
    <div class="controls">
      <ul class="rights">
      <% for role in Role.all %>
        <li>
          <%= check_box_tag "user[role_ids][]", role.id, @user.roles.include?(role) %><%= role.name %>
        <li>
      <% end %>
      </ul>
    </div>
  </div>
  <div class="form-actions">
    <%= f.submit class: 'btn btn-primary' %>
    <%= link_to t('.cancel', default: t("helpers.links.cancel")),
                users_path, class: 'btn' %>
  </div>
<% end %>
