<%= form_for @client, html: {class: 'form-inline'} do |f| %>
    <div class="row">
      <div class="span3 date">
        
          <div id="datetimepicker" class="input-prepend">
                <span class="add-on">
              <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
            </span>
            <%= f.text_field :start,
                              value: @client.start.try(:strftime, t("time.formats.datetime")),
                              placeholder: t("clients.start"),
                              class: "input-block-level",
                              data: { format: t("time.formats.datetime_picker"), 
                                      :"format-moment" => t("time.formats.datetime_picker_moment") } %>
          </div>
      </div>
      <div class="span3 date">
        
          <div id="datetimepicker2" class="input-prepend">
                <span class="add-on">
              <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
            </span>
            <%= f.text_field :end,
                              value: @client.end.try(:strftime, t("time.formats.datetime")),
                              placeholder: t("clients.end"),
                              class: "input-block-level",
                              data: { format: t("time.formats.datetime_picker"), 
                                      :"format-moment" => t("time.formats.datetime_picker_moment") } %>
          </div>
      </div>
</div>
      <div class="form-actions">
        <%= f.submit class: 'btn btn-primary' %>
        <% if params[:controller] != "home" %>
          <%= link_to t('.back_to_overview', default: t("helpers.links.back")),
                      clients_path, class: 'btn' %>
        <% end %>
      </div>
    
<% end %>
