
<% pixels_shows_hours = 40.to_f %>
<% pixels_shows_hours_factor = 60/pixels_shows_hours %>
<% first_hour = current_user.weekly_earliest_tracking_start_time-1%>
<% last_hour = current_user.weekly_latest_tracking_start_time.to_i+1%>
<% displayed_hours = last_hour-first_hour%>
<% margin_left = 10 %>
<div id="container" style="width: <%= pixels_shows_hours*(displayed_hours)+margin_left*2 %>px; height: 100px; margin: 0 auto"></div>
<script type="text/javascript">
	$(function () {
	    var chart = new Highcharts.Chart({
	        chart: {
	            backgroundColor: '#E0E8FF',
	            renderTo: 'container',
	            events: {
	                load: function () {
	                    <%= current_user.weekly_earliest_tracking_start_time %>
	                    // Draw the flow chart
	                    var ren = this.renderer,
	                        colors = Highcharts.getOptions().colors

	                    ren.path(['M', <%= margin_left %>, 40, 'L', <%= displayed_hours*pixels_shows_hours %>, 40])
		                        .attr({
		                            'stroke-width': 1,
		                            stroke: 'silver',
		                            dashstyle: 'dash'
		                        })
		                        .add();	 
	                    <% (1..displayed_hours).step(2).each do |i| %>
		                    ren.path(['M', <%= margin_left+i*pixels_shows_hours %>, 40, 'L', <%= margin_left+i*pixels_shows_hours %>, 65])
		                        .attr({
		                            'stroke-width': 1,
		                            stroke: 'silver',
		                            dashstyle: 'dash'
		                        })
		                        .add();	                    	
	                    <% end %>
	                    
	                    <% (1..displayed_hours).step(2).each do |i| %>
	                    	<% i > 9 ? x=0 : x=3 %>
		                    ren.label('<%= first_hour+i %>', <%= x+i*pixels_shows_hours %>, 60)
		                        .css({
		                            fontWeight: 'bold',
		                            color: '#999999'
		                        })
		                        .add();               	
	                    <% end %>

	                    <% if trackings.present? %>
							<% trackings.each do |tracking| %>
			                    ren.label('', <%= margin_left+((tracking.start_time.strftime('%H').to_i-first_hour)*pixels_shows_hours)+tracking.start_time.strftime('%M').to_i %>, 40)
		                        .attr({
		                        	  width: <%= tracking.minutes/pixels_shows_hours_factor %>,
		                            height: 10,
		                            fill: '#6685FF'
		                        })
		                        .css({
		                            color: 'white',
		                            fontWeight: 'bold'
		                        })
		                        .add();
	                    	<% end %>
	                    <% end %>
	                }
	            }
	        },
	        title: {
	            text: '<% t("home.index.your_timeline") %>'
	        }
	            
	    });
	});
</script>