
<div class="page-header .visible-desktop">
	<h1><%= "#{@greeting}, #{current_user.name}" %></h1>
</div>

<div class="row">
	<div class="span6">
		<div class="row">
			<h3><%= t("trackings.todays_trackings")%></h3>
			<% if @todays_trackings.present? %>
			<table class="table table-striped home_index">
				<tbody>
					<% @todays_trackings.each do |tracking| %>
					<tr>
						<td class="td-description"><%= tracking.description %></td>
						<td class="td-duration"><%= duration_in_words(tracking.minutes) %></td>
					</tr>
					<% end %>
				</tbody>
			</table>
			<% else %>
			<p><%= t("no_data_yet", name: t('trackings.trackings'), href: link_to(t("here"), new_tracking_path) ).html_safe %></p>
			<% end %>
		</div>
		<div class="row">
			<h3><%= t(".projects_working_on") %></h3>
			<% if @projects.present? %>
			<table class="table table-striped home_index">
				<tbody>
					<% @projects.each do |project| %>
					<% if project.workinghours_for(current_user) > 0 %>
					<tr>
						<td class="td-description"><%= project.name %></td>
						<td class="td-duration"><%= duration_in_words(project.workinghours_for(current_user)) %></td>
					</tr>
					<% end %>
					<% end %>
				</tbody>
			</table>
			<% else %>
			<p><%= t("no_data_yet", name: t('trackings.trackings'), href: link_to(t("here"), new_tracking_path) ).html_safe %></p>
			<% end %>
		</div>
	</div>
	<div class="span4 offset1">
		<ul class="nav nav-tabs" id="home_navtab">
			<li class="active"><a href="#today" data-toggle="tab"><%= t(".today") %></a></li>
			<li><a href="#week" data-toggle="tab"><%= t(".week") %></a></li>
			<li><a href="#month" data-toggle="tab"><%= t(".month") %></a></li>
			<li><a href="#year" data-toggle="tab"><%= t(".year") %></a></li>

		</ul>
		<div class="tab-content">
			<div class="tab-pane active" id="today">
				<%= render "statistics", duration: "day" %>
			</div>
			<div class="tab-pane" id="week">
			  	<%= render "statistics", duration: "week" %>
			</div>
			<div class="tab-pane" id="month">
				<%= render "statistics", duration: "month" %>
			</div>
			<div class="tab-pane" id="year">
				<%= render "statistics", duration: "year" %>
			</div>
		</div>
	</div>  
</div>

