
<div class="page-header .visible-desktop">
	<h1><%= "#{@greeting}, #{current_user.name}" %></h1>
</div>
<div class="row">
	<div class="span10">
		<%= render partial: 'trackings/form' %>
		<div class="row">
			<div class="span12">
				<div class="row">
					<% if @todays_trackings.present? || @newest_trackings.present? %>

							<% if @todays_trackings.present?  %>
								<h3><%= t("date.today") %></h3>
								<table class="table table-striped home_index">
									<tbody>
										
										

										<%= render partial: 'trackings/table', :locals => { :trackings => @todays_trackings } %>

										
									</tbody>
								</table>
							<% end %>
							<% if @newest_trackings.present? %>
								<% @newest_trackings.each do |tracking| %>
								<% if tracking.start_time.to_date == Date.today-1.day %>
									<%= t("date.yesterday")  %>
								<% else %>
									<%= tracking.start_time.to_date %>
								<% end %>
								
								<%= render partial: 'trackings/table', :locals => { :trackings => tracking } %>
								
								<% end %>
							<% end %>
						</tbody>
					</table>
					<% end %>
				</div>
			</div>
			
		</div> 
	</div>
	<div class="span2">
		<ul class="nav nav-tabs" id="home_navtab">
			<li class="active"><a href="#today" data-toggle="tab"><%= t(".today") %></a></li>
			<li><a href="#week" data-toggle="tab"><%= t(".week") %></a></li>
			<li><a href="#month" data-toggle="tab"><%= t(".month") %></a></li>
			<li><a href="#year" data-toggle="tab"><%= t(".year") %></a></li>

		</ul>
		<div class="tab-content">
			<div class="tab-pane active" id="today">
				<%= render "statistics", duration: "day" %>
			</div>
			<div class="tab-pane" id="week">
			  	<%= render "statistics", duration: "week" %>
			</div>
			<div class="tab-pane" id="month">
				<%= render "statistics", duration: "month" %>
			</div>
			<div class="tab-pane" id="year">
				<%= render "statistics", duration: "year" %>
			</div>
		</div>
	</div> 
</div>


