<%- model_class = Ticket -%>
<div class="page-header">
  <h1 class="header"><%= t '.title', default: t("helpers.titles.index", class: t('tickets.tickets') ) %></h1>
  <%= link_to t('.new', default: t("helpers.links.new")),
            new_ticket_path,
            class: 'btn btn-primary btn-header' %>
</div>
<div class="span7">
<table class="table table-striped span6">
  <thead>
  <tr>
    <th><%= model_class.human_attribute_name(:date) %></th>
    <th><%= model_class.human_attribute_name(:start) %></th>
    <th><%= model_class.human_attribute_name(:end) %></th>
    <th><%= t '.actions', default: t("helpers.actions") %></th>
  </tr>
  </thead>
  <tbody>
  <% @tickets.each do |ticket| %>
      <tr>
        <td><%= l(ticket.start, format: :date_format ) %></td>
        <td><%= l(ticket.start, format: :time_format) %></td>
        <td><%= l(ticket.end, format: :time_format) %></td>
        <td>
          <div class="btn-group">
          <% if allow?("tickets","show",ticket) %>
            <%= link_to t('action.show'), ticket_path(ticket), class: 'btn btn-mini' %>
          <% end %>
          <% if allow?("tickets","edit",ticket) %>
            <%= link_to t('action.edit'), edit_ticket_path(ticket), class: 'btn btn-mini btn-warning' %>
          <% end %>
          </div>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
</div>
