<%- model_class = Ticket -%>
<div class="page-header">
  <h1 class="header"><%= t '.title', default: t("helpers.titles.index", class: t('tickets.tickets') ) %></h1>
  <%= link_to t('.new', default: t("helpers.links.new")),
            new_ticket_path,
            class: 'button button-primary button-header' %>
    <div class="button-group" style="margin-right:10px; display:inline; float:right;">
      <%= link_to "#{sum_open_tickets} #{t('tickets.open')}", tickets_path, class: (params[:closed] == "1" ? 'button': 'button button-success disabled') %>
      <%= link_to "#{sum_closed_tickets} #{t('tickets.closed')}", tickets_path(closed: 1), class: (params[:closed] == "1" ? 'button button-success disabled': 'button') %>
    </div>

</div>
<div class="span10">
<table class="table table-striped">
  <thead>
  <tr>
    <th><%= model_class.human_attribute_name(:name) %></th>
    <th><%= model_class.human_attribute_name(:deadline) %></th>
    <th><%= model_class.human_attribute_name(:priority) %></th>
    <th><%= model_class.human_attribute_name(:project) %></th>
    <th><%= t '.actions', default: t("helpers.actions") %></th>
  </tr>
  </thead>
  <tbody>
  <% @tickets.each do |ticket| %>
      <tr>
        <td><%= ticket.name %></td>
        <td><%= l(ticket.deadline, format: :date_format ) %></td>
        <td><%= ticket.priority %></td>
        <td><%= ticket.project.name %></td>
        <td>
          <div class="button-group">
          <% if allow?("tickets","show",ticket) %>
            <%= link_to t('action.show'), ticket_path(ticket), class: 'button button-mini' %>
          <% end %>
          <% if allow?("tickets","edit",ticket) %>
            <%= link_to t('action.edit'), edit_ticket_path(ticket), class: 'button button-mini button-warning' %>
          <% end %>
          </div>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
</div>
