<%- model_class = Ticket -%>
<div class="page-header">
  <h1><%= t '.title', default: t("helpers.titles.show", class: model_class.model_name.human ) %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @ticket.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= @ticket.description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:priority) %>:</strong></dt>
  <dd><%= priority_as_text(@ticket.priority) %></dd>
  <dt><strong><%= model_class.human_attribute_name(:deadline) %>:</strong></dt>
  <dd><%= @ticket.deadline %></dd>
  <dt><strong><%= model_class.human_attribute_name(:project) %>:</strong></dt>
  <dd><%= @ticket.project.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:user) %>:</strong></dt>
  <dd><%= @ticket.user.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:closed) %>:</strong></dt>
  <dd><%= yes_no_as_text(@ticket.closed) %></dd>

</dl>

<div class="form-actions">
  <% if allow?("tickets","show",@ticket) %>
    <%= link_to t('.back', default: t("helpers.links.back")),
              tickets_path, class: 'button' %>
  <% end %>
  <% if allow?("tickets","edit",@ticket) %>
    <%= link_to t('.edit', default: t("helpers.links.edit")),
              edit_ticket_path(@ticket), class: 'button button-warning' %>
  <% end %>
  <% if allow?("tickets","destroy",@ticket) %>
    <%= link_to t('.destroy', default: t("helpers.links.destroy")),
              ticket_path(@ticket),
              method: 'delete',
              data: {confirm: t('.confirm', default: t("helpers.links.confirm", default: 'Are you sure?'))},
              class: 'button button-danger' %>
  <% end %>
</div>
