<%- model_class = Role -%>
<div class="page-header">
  <h1 class="header"><%= t '.title' %></h1>
  <%= link_to t('.new', default: t("helpers.links.new")),
            new_role_path,
            class: 'btn btn-primary btn-header' %>
</div>
<div class="span7">
<table class="table table-striped span6">
  <thead>
  <tr>
    <th><%= model_class.human_attribute_name(:id) %></th>
    <th><%= model_class.human_attribute_name(:name) %></th>
    <th><%= t '.actions', default: t("helpers.actions") %></th>
  </tr>
  </thead>
  <tbody>
  <% @roles.each do |role| %>
      <tr>
        <td><%= link_to role.id, role_path(role) %></td>
        <td><%= role.name %></td>
        <td>
          <% if allow?("roles","show") %>
          <%= link_to t('action.show'), role_path(role), class: 'btn btn-mini' %>
          <% end %>
          <% if allow?("roles","edit") %>
          <%= link_to t('.edit', default: t("helpers.links.edit")),
                      edit_role_path(role), class: 'btn btn-mini btn-warning' %>
          <% end %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
</div>


