<%- model_class = Attendance -%>
<div class="page-header">
  <h1 class="header"><%= t '.title', default: t("helpers.titles.index", class: t('attendances.attendances') ) %></h1>
  <%= link_to t('.new', default: t("helpers.links.new")),
            new_attendance_path,
            class: 'btn btn-primary btn-header' %>
</div>
<div class="span7">
<table class="table table-striped span6">
  <thead>
  <tr>
    <th><%= model_class.human_attribute_name(:date) %></th>
    <th><%= model_class.human_attribute_name(:start) %></th>
    <th><%= model_class.human_attribute_name(:end) %></th>
    <th><%= t '.actions', default: t("helpers.actions") %></th>
  </tr>
  </thead>
  <tbody>
  <% @attendances.each do |attendance| %>
      <tr>
        <td><%= l(attendance.start, format: :date_format ) %></td>
        <td><%= l(attendance.start, format: :time_format) %></td>
        <td><%= l(attendance.end, format: :time_format) %></td>
        <td>
          <div class="btn-group">
          <% if allow?("attendances","show",attendance) %>
            <%= link_to t('action.show'), attendance_path(attendance), class: 'btn btn-mini' %>
          <% end %>
          <% if allow?("attendances","edit",attendance) %>
            <%= link_to t('action.edit'), edit_attendance_path(attendance), class: 'btn btn-mini btn-warning' %>
          <% end %>
          </div>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
</div>
