<div class="accordion reports" id="accordion2">
  <% @projects_data.each do |project, trackings| %>
  <% if trackings && trackings.size > 0 %>
    <div class="accordion-group">
      <div class="accordion-heading">
        <div class="row-fluid">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse<%= project.id %>">
            <div class="span9">
              <h2 class=""><%= project.name %></h2>
            </div>
            <div class="span3 additionals">
              <ul>
                <li><i class="icon-tags"></i>
                  <%= trackings.count %>
                </li>
                <li>
                  | <i class="icon-time"></i>
                  <%= duration_in_words(trackings.sum(:minutes)) || "0" %>
                </li>
                <% if trackings.count(:user_id, :distinct => true) > 1 || current_page?(:action => 'admin') %>
                <li>
                  | <span class="block" data-toggle="tooltip" data-placement="top"
                  title="<%= project.members.each { |m| m.to_s }.join(', ') %>">
                  <i class="icon-user"></i>
                  <%= trackings.count(:user_id, :distinct => true) %>
                  </span>
                </li>
                <% end %>
              </ul>
            </div>
          </a>
        </div>
      </div>
      <div id="collapse<%= project.id if trackings.size > 0 %>" class="accordion-body collapse in">
        <div class="accordion-inner">
          <table class="table table-striped">
            <tbody>
              <% trackings.each do |tracking| %>
              <tr>
                <td class="td-billable">
                  <% if tracking.billable %>
                  <i class="icon-money"></i>
                  <% end %>
                </td>
                <td class="td-description nowrap">
                  <%= tracking.description %>
                </td>
                <td class="td-duration nowrap">
                  <%= duration_in_words(tracking.minutes) %>
                </td>
                <td class="td-date">
                  <%= l(tracking.start_time, format: :datetime) if tracking.start_time %>
                </td>
                <% if current_page?(:action => 'admin') %>
                <td class="td-username nowrap">
                  <%= tracking.user.name %>
                </td>
                <% end %>
                <td class="td-actions">
                  <div class="button-group">
                    <% if allow?("trackings","show",tracking) %>
                    <%= link_to t('action.show'), tracking_path(tracking), class: 'button button-mini' %>
                    <% end %>
                    <% if allow?("trackings","edit",tracking) %>
                    <%= link_to t('action.edit'), edit_tracking_path(tracking), class: 'button button-warning button-mini' %>
                    <% end %>
                  </div>
                </td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  <% end %>
  <% end %>
</div>
