<div class="page-header">
  <h1 class="header"><%= t 'reports.reports' %></h1>
  <% unless @projects.empty? %>
  <%= link_to t('.export', default: t("helpers.links.export")), current_url(:format => 'csv'),
  class: 'button button-success button-header' %>
  <% end %>
</div>
<% unless @projects.empty? %>
<div class="row-fluid filter-form">
  <%= form_tag reports_path, :method => :get, :class => "containsdaterange" do |f| %>
  <div class="span2">
    <%= select_tag :project_ids, options_from_collection_for_select(@selectable_projects, :id, :name), multiple: true, class: "multiselect" %>
  </div>
  <%= hidden_field_tag 'daterange', '' %>
  <div id="daterangebox" class="selectbox">
    <i class="icon-calendar"></i>
    <span><%= params[:daterange] if params[:daterange].present? %></span> <b class="caret"></b>
  </div>
  <%= submit_tag t("action.filter"), class: "button button-primary" do %>
    <i class="icon-search"></i>
  <% end %>
  <% end %>
</div>
<% if @projects.count > 1 %>
<div class="row-fluid">
  <div class="span6 charts">
    <div id="workinghourschart"></div>
    <script type="text/javascript">
      $(function() {
          $('#workinghourschart').highcharts({
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                height: 300
            },
            title: {
                text: '<%= t("reports.workinghours_devided_projects")%>'
            },
            tooltip: {
              pointFormat: '{series.name}: <b>{point.percentage}%</b>',
              percentageDecimals: 1
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: false
                    },
                    showInLegend: true
                }
            },
            series: [{
                type: 'pie',
                name: '<%= t("reports.percentage")%>:',
                data: [
                    <%= @projects_data.map { |project, trackings|  "['#{project.name}', #{trackings.sum(:minutes)} ]" }.join(",\n").html_safe %>
                ]
            }]
        });
      });
    </script>
  </div>
  <div class="span6">
    <div id="projects_chart"></div>
  </div>
</div>
<% end %>
<%= render partial: 'accordion' %>
<% else %>
<h3><%= t("nothing_to_see")%></h3>
<% end%>


