<!DOCTYPE html>
<html>
<head>
  <title>Trame</title>
  <script src="/assets/jquery.js?body=1" type="text/javascript"></script>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "vendor/modernizr" %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= csrf_meta_tags %>
  <%= favicon_link_tag %>  
  <%= yield :header %>
</head>
<body>
  <%= render 'shared/flash_messages' if !flash.empty? %>
  <div id="wrap">
    <% if user_signed_in? %>
    <nav class="top-bar" data-topbar>
      <ul class="title-area">
        <li class="name"> 
          <h1><a href="#">Trame</a></h1> 
        </li> 
        <li class="toggle-topbar menu-icon">
          <%= link_to root_path do %>
            <%= t(".dashboard") %>
          <% end %>
        </li> 
      </ul> 
      <section class="top-bar-section">   <!-- Right Nav Section --> 
        <ul class="right">
          <li class="has-dropdown">
            <a href="#"><%= current_user.name %></a>
            <ul class="dropdown">
              <li>
                <%= link_to edit_user_registration_path do %>
                  <%= t(".settings") %>
                <% end %>
              </li>
              <li>
                <%= link_to destroy_user_session_path, method: :delete do %>
                  <%= t(".logout") %>
                <% end %>
              </li> 
            </ul>
          </li> 
        </ul> <!-- Left Nav Section --> 
        <ul class="left">
          <li>
            <%= link_to root_path do %>
              <%= t(".dashboard") %>
            <% end %>
          </li>
          <li>
            <%= link_to reports_path(daterange: global_default_daterange) do %>
              <%= t("reports.reports") %>
            <% end %>
          </li>
          <li>
            <%= link_to attendances_path do %>
              <%= t("attendances.attendances") %>
            <% end %>
          </li> 
          <li>
            <%= link_to statistics_index_path do %>
              <%= t("statistics.statistics") %>
            <% end %>
          </li>
          <% if current_user.can?("ViewProjects", "EditProjects") %>
          <li>
            <%= link_to projects_path do %>
              <%= t("projects.projects") %>
            <% end %>
          </li>
          <% end %>
          <% if current_user.can?("ViewAllTrackings", "EditAllTrackings") %>
          <li>
            <%= link_to admin_reports_path(daterange: global_default_daterange) do %>
              <%= t("reports.reports") %>
            <% end %>
          </li>
          <% end %>
          <% if current_user.can?("ViewUsers", "EditUsers") %>
          <li>
            <%= link_to users_path do %>
              <%= t("users.users") %>
            <% end %>
          </li>
          <% end %>
          <% if current_user.can?("ViewRoles", "EditRoles") %>
          <li>
            <%= link_to roles_path do %>
              <%= t("roles.roles") %>
            <% end %>
          </li>
          <% end %>

          <% if current_user.can?("ViewClients", "EditClients") %>
          <li>
            <%= link_to clients_path do %>
              <%= t("clients.clients") %>
            <% end %>
          </li>
          <% end %>

          <% if current_user.can?("ViewInvoices", "EditInvoices") %>
          <li>
            <%= link_to invoices_path do %>
              <%= t("invoices.invoices") %>
            <% end %>
          </li>
          <% end %>

          <% if current_user.can?("ViewTickets", "EditTickets") %>
          <li>
            <%= link_to tickets_path do %>
              <%= t("tickets.tickets") %>
            <% end %>
          </li>
          <% end %>
        </ul>
      </section>
    </nav>

    
      <% end %>
      <div class="container">
        <%= yield %>
      </div>
      <div id="push"></div>
    </div>  
    <div id="footer">
      <div class="container">
        <ul class="footer">
          <li><a href="https://github.com/prellele/trame/"><%= t(".code") %></a></li>|
          <li><a href="https://github.com/prellele/trame/blob/master/LICENSE"><%= t(".license") %></a></li>|
          <li><a href="https://github.com/prellele/trame/blob/master/Changelog.md"><%= t(".changelog") %></a></li>|
          <li><a href="https://github.com/prellele/trame/issues?state=open"><%= t(".issue_tracker") %></a></li>|
          <li><a href="https://github.com/prellele/trame/wiki"><%= t(".wiki") %></a></li>
        </ul>
      </div>
    </div>
    <%= javascript_include_tag "application" %>
  </body>
</html>

