<% if @trackings.present? %>
<%- model_class = Tracking -%>
<table id="trackings_table" class="table table-striped trackings_index">
  <thead>
    <tr>
      <th></th>
      <th><%= model_class.human_attribute_name(:description) %></th>
      <th><%= model_class.human_attribute_name(:duration) %></th>
      <th><%= model_class.human_attribute_name(:start_time) %></th>
      <th><%= model_class.human_attribute_name(:project) %></th>
      <th><%= t '.actions', default: t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <%= render @trackings %>
  </tbody>
</table>
<%= will_paginate @trackings %>
<% else %>
<h3><%= t("nothing_to_see")%></h3>
<% end %>