<% if trackings.present? %>
<table id="trackings_table" class="table table-striped">
  <% if header %>
  <thead>
    <tr>
      <th></th>
      <th><%= t("trackings.description") %></th>
      <th><%= t("trackings.duration") %></th>
      <th><%= t("trackings.starttime") %></th>
      <th><%= t("projects.project") %></th>
      <th><%= t '.actions', default: t("helpers.actions") %></th>
    </tr>
  </thead>
  <% end %>
  <tbody>
    <% hide_starttime_date ||= false %>
    <%= render trackings, :locals => { :hide_starttime_date => hide_starttime_date } %>
  </tbody>
</table>
<% else %>
<h3><%= t("nothing_to_see")%></h3>
<% end %>