<tr>
  <td class="td-billable">
    <% if tracking.billable %>
    <i class="icon-money"></i>
    <% end %>
  </td>
  <td class="td-description nowrap"><%= tracking.description %></td>
  <td class="td-duration"><%= duration_in_words(tracking.minutes) %></td>
  <td class="td-date">
    <% if defined?(hide_starttime_date) && hide_starttime_date %>
      <%= l(tracking.start_time, format: :time_format) %>
    <% else %>
      <%= l(tracking.start_time, format: :datetime) %>
    <% end %>
  </td>
  <td class="td-project_name nowrap"><%= tracking.try(:project) ? tracking.project.name : "-" %></td>
  <% if defined?(@show_actions) && @show_actions %>
  <td class="td-actions">
    <div class="btn-group">
      <%= link_to t('action.show'), tracking_path(tracking), class: 'btn btn-mini' %>
      <%= link_to t('action.edit'), edit_tracking_path(tracking), class: 'btn btn-warning btn-mini' %>
    </div>
  </td>
  <% end %>
</tr>
