<tr>
  <td class="td-billable">
    <% if tracking.billable %>
    <i class="icon-money"></i>
    <% end %>
  </td>
  <td class="td-description nowrap"><%= tracking.description %></td>
  <td class="td-duration"><%= duration_in_words(tracking.minutes) %></td>
  <td class="td-date">
    <% if defined?(hide_starttime_date) && hide_starttime_date %>
      <%= l(tracking.start_time, format: :time_format) %>
    <% else %>
      <%= l(tracking.start_time, format: :datetime) %>
    <% end %>
  </td>
  <td class="td-project_name nowrap"><%= tracking.try(:project) ? tracking.project.name : "-" %></td>
    <td class="td-actions">
      <div class="button-group">
      <% if allow?("trackings","show",tracking) %>
          <%= link_to t('action.show'), tracking_path(tracking), class: 'button button-mini' %>
      <% end %>
      <% if allow?("trackings","edit",tracking) %>
          <%= link_to t('action.edit'), edit_tracking_path(tracking), class: 'button button-warning button-mini' %>
      <% end %>
      </div>
    </td>
</tr>
